@import "../../../constants/styleVariables.scss";
.custom-dropdown {
    padding: 0.5rem 1rem;
    option {
        color: $gray3 !important;
    }
    .disabled-option {
        color: $gray2 !important;
        cursor: not-allowed !important;
    }
}
